@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-sans min-h-dvh w-dvw bg-light dark:bg-dark dark:text-blue-50;
	overflow: hidden;
	transition: background-color 0.7s ease, color 1s linear;
}

.theme-transition {
	animation: radial-wipe 0.7s ease forwards;
}

@keyframes radial-wipe {
	0% {
		clip-path: circle(0% at 100% 0%);
	}
	100% {
		clip-path: circle(150% at 100% 0%);
	}
}

textarea,
input {
	@apply outline-none border-none;
}

::placeholder {
	@apply !text-black/80 dark:!text-white/80;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	@apply bg-blue-50 dark:bg-gray-950 my-2 rounded-lg transition-colors ease-linear;
}

::-webkit-scrollbar-thumb {
	@apply bg-blue-400/50 dark:bg-slate-900 rounded-lg transition-colors ease-linear;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
